.blog-upload-main-body {
  min-height: 50vh;
  width: 100%;
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-upload-sub-body {
  background-image: url("/blog-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-upload-title {
  height: 300px;
  width: 600px;
  font-size: 4.3rem;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
}
.blog-upload-title > div {
  font-weight: 500;
  line-height: 23px;
  font-size: 0.9rem;
}
/* //////////////////// */
.blog-upload-form-sec {
  min-height: 420px;
  width: 450px;
  margin: 30px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.289);
  background-color: rgb(243, 243, 243);
}
.blog-upload-form-upload-preview {
  width: 75%;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.blog-upload-form-upload {
  width: 70%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  gap: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 86, 166);
  padding: 0 10px;
  cursor: pointer;
  font-family: sans-serif;
}
.blog-upload-form-upload-img {
  height: 35px;
}
.blog-upload-form-data {
  width: 70%;
  height: 45px;
  font-size: 1.05rem;
  padding: 0 10px;
  border: 1px solid rgb(230, 230, 230);
  /* background-color: red; */
  border-radius: 5px;
}
.blog-upload-form-data:nth-child(4) {
  max-width: 70%;
  min-width: 70%;
  min-height: 40px;
  padding-top: 10px;
  font-family: sans-serif;
}

.blog-upload-form-data:focus {
  outline: 1px solid rgb(214, 214, 214);
}

.blog-upload-form-btn {
  width: 74%;
  height: 50px;
  font-size: 1.1rem;
  letter-spacing: .5px;
  font-weight: 600;
  border: 0;
  color: white;
  background-color: rgb(0, 86, 166);
  border-radius: 10px;
  cursor: pointer;
}
