.edit-blog-main-body {
  min-height: 85vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
/* .edit-blog-sub-body {
  height: 85vh;
  width: 90%;
  margin: 5vh 0;
  padding: 0 5px;
  background-image: url("/edit-blog.jpg");
  background-repeat: repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px black ;
  border-radius: 10px;
  gap: 20px;
} */
.edit-blog-img-body {
  height: 250px;
  width: 90%;
  margin: 5vh 0;
  background-image: url("/edit-blog.jpg");
  background-repeat: repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
}

.edit-blog-title {
  font-size: 3.5rem;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
}
.edit-blog-title > div {
  font-size: .95rem;
  color: rgb(224, 224, 224);
  font-weight: 500;
}
/* ////// */
.edit-blog-content-body {
  min-height: 250px;
  width: 90%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-blog-card-sec {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: red; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}
.edit-blog-card {
  width: 450px;
  height: 250px;
  display: flex;
  flex-shrink: 0;
  margin: 0 15px;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(175, 53, 53); */
  border: 1px solid rgb(174, 174, 174);
  position: relative;
}
.edit-blog-card-edit-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 18px;
  width: auto;
  cursor: pointer;
  /* background-color: red; */
}
.edit-blog-card-delete-icon {
  position: absolute;
  bottom: 20px;
  right: 30px;
  height: 22px;
  width: auto;
  cursor: pointer;
  /* background-color: red; */
}
/* //////////// */
.edit-blog-content-img {
  height: auto;
  width: 120px;
}
.edit-blog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;

  height: 100%;
  width: 60%;
  /* background-color: rgb(255, 255, 255); */
}
.edit-blog-content-data {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  height: 30px;
  width: 90%;
  border: 0;
  overflow: hidden;
  outline: none;
  /* background-color: rgb(188, 84, 84); */
}
/* ////////////Update card section */

.edit-blog-update-card-sec {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: aliceblue;
  position: relative;
}
.edit-blog-update-back-btn {
  top: 20px;
  left: 18px;
  position: absolute;
  height: 25px;
  width: auto;
  cursor: pointer;
  /* background-color: red; */
}
.edit-blog-update-img {
  height: 50px;
  width: auto;
  /* background-color: red; */
}
.edit-blog-update-data {
  height: 40px;
  width: 75%;
  border-radius: 5px;
  padding: 0 10px;
  border: 0;
  /* background-color: red; */
}
.edit-blog-update-btn {
  height: 45px;
  width: 80%;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: rgb(39, 0, 72);
}
