.loader-main-body {
  height: 85vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 205, 205); */
}
.loader-sub-body {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;

  /* background-color: rgb(193, 4, 4); */
}
.loader-img {
  position: absolute;
  right: 23px;
  height: 35px;
  filter: invert(1);
}
.loader-border {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  border-right: 3px solid #b1b1b1;
  border-left: 3px solid #b1b1b1;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(1turn);
  }
}

.loader-border:nth-child(1) {
  height: 65px;
  width: 65px;
  border-right: 3px solid #cfcfcf;
  border-left: 3px solid #cfcfcf;
  animation: anti-rotate 3s linear infinite;
}
@keyframes anti-rotate {
  from {
    transform: rotate(-1turn);
  }
}
